.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) {
  .container {
    border: 1px solid #00000033;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
}
