.facilitiesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.facilitiesContainer div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.facilitiesContainer div p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #7d7d7d;
}

@media (min-width: 769px) {
  .facilitiesContainer {
    gap: 25px;
  }
}
